.particular-card{
    border: 5px solid red;
    width: 350px;
    height: 400px;
    border-radius: 20px;
    margin: 5px;


}

.particular-card h3{
    font-size: 25px;
    text-align: center;
    padding: 15px;
}

.particular-card p{
    margin: 20px auto;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border: 2px solid orange;
    width: 80%;
    border-radius: 5px;
    font-size: 18px;
}
